<!-- Modal -->
<div class="modal fade" id="add_data_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add {{ title.lower() }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{ url_for('new_device_modification') }}">
          <div class="modal-body">
            <div class="form-group mx-sm-3 mb-2">
              <div class="form-group">
                <label for="device_metring_type">Select device metering_type</label>
                <select class="form-control" id="device_metring_type" name="device_metring_type">
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label for="device_metring_type">Select device modification_type</label>
                <select class="form-control" id="device_modification_type" name="device_modification_type">
                  <option></option>
                </select>
              </div>
              <div class="form-group">
                <label for="name">Name device modification</label>
                <input type="text" class="form-control" id="name", name="name" placeholder="Name">
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="submit" id="add_submit" name="add_submit" class="btn btn-success">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
